{% extends "bootstrap/base.html" %}

{% block title %}Books!{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Fine Books</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('seedDB') }}" >Seed Database</a></li>
                <li><a href="{{ url_for('eraseDB') }}" >Erase Database</a></li>
                <li><a href="{{ url_for('tinker') }}" >Tinker</a></li>
                <li><a href="{{ url_for('sql') }}" >SQL</a></li>

                <li><a href="{{ url_for('books') }}" >All Books</a></li>
                <li><a href="{{ url_for('addbook') }}" >New Book</a></li>
                <li><a href="{{ url_for('categories') }}" >Categories</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}

<div class="container">
  <ol class="breadcrumb my-4">
    {% block breadcrumb %}
    {% endblock %}
  </ol>
</div>

  <div class="container">
    {% block page_content %}
    {% endblock %}
  </div>
{% endblock %}
